*{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    border: #000000 1px solid;
}
.header h1{
    font-size: 24px;
}
.container{
    border: #000000 1px solid;
    margin: 40px;
}
.titulo{
    font-size: 20px;
}
p{
    font-size: 18px;
    text-align: justify;
}